<!DOCTYPE html>
<html>
<head>
  
    <link rel="stylesheet" href="/static/css/conditions_home.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
     <!-- Adobe fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/gqv8jnv.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-48x48.png">
    <link rel="manifest" href="/site.webmanifest">


    <title>SurfQuest</title>
</head>
<body>
    <div class="container">
        <!-- Form Section -->
        <div class="form-section">
            <h1>Surf Conditions By Location</h1>
            <form method="POST" action="/surf_conditions">
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" required placeholder="e.g., Playa Grande">
                
                <label for="country">Country:</label>
                <input type="text" name="country" id="country" placeholder="e.g., Costa Rica">
                
                <label for="province">Province/State (optional):</label>
                <input type="text" name="province" id="province" placeholder="e.g., Guanacaste">

                <label for="latitude">Latitude (optional):</label>
                <input type="text" name="latitude" id="latitude" placeholder="e.g., 10.2238">

                <label for="longitude">Longitude (optional):</label>
                <input type="text" name="longitude" id="longitude" placeholder="e.g., -85.8128">

            
                <button type="submit">Check Surf Conditions</button>
            </form>
            <div class="logout">
                <a href="/home">back home</a> |
                <a href="/logout">log out</a>
              </div>
        </div>
        <div class="image-section">
            <img src="{{ url_for('static', filename='img/index2.jpg') }}" alt="Cool Surfing Image">
        </div>
    
            
        </div>
        <script src="static/conditions.js"></script>
</body>
</html>
