<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurfQuest Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/gqv8jnv.css"> <!-- Adobe font-->
</head>
<body>
    <header>
        <h1>SurfQuest</h1>
        {% if username %}
        <p>Welcome, {{ username }}! 🌊🏄‍♂️</p>
    {% else %}
        <p></p>
    {% endif %}
        <nav>
            <ul>
                <li><a href="#user-accounts">User Accounts</a></li>
                <li><a href="#surf-conditions">Surf Conditions</a></li>
                <li><a href="#surf-spots">Surf Spots by Region</a></li>
                <li><a href="#accommodation-links">Accommodation Links</a></li>
                <li><a href="#additional-features">Additional Features</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="#things-to-do">Things to Do and Places to Eat</a></li>
            </ul>
        </nav>
    </header>
    


        

    </main>
    
    <footer>
        <p>&copy; 2025 SurfQuest. All rights reserved.</p>
    </footer>
</body>
</html>
